@model Day14Lab1.Models.Pokemon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.PokemonName</h1>

<h3>Are you sure you want to delete this?</h3>
@await Html.PartialAsync("_PokemonPartial.cshtml",Model)
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PokemonID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button asp-action="Index" class="btn-primary">Back To List</button>
    </form>
