@model Day14Lab1.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details @Model.PokemonName</h1>

@await Html.PartialAsync("_PokemonPartial.cshtml",Model)

<button asp-action="Index" class="btn-primary">Back To List</button>
