@model Day12Test1.Models.Race

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RaceId" />
            <div class="form-group">
                <label asp-for="RaceName" class="control-label"></label>
                <input asp-for="RaceName" class="form-control" />
                <span asp-validation-for="RaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceDestination" class="control-label"></label>
                <input asp-for="RaceDestination" class="form-control" />
                <span asp-validation-for="RaceDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KmRace" class="control-label"></label>
                <input asp-for="KmRace" class="form-control" />
                <span asp-validation-for="KmRace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceDate" class="control-label"></label>
                <input asp-for="RaceDate" class="form-control" />
                <span asp-validation-for="RaceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
