@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <p>Select File</p>
    <input type="file" name="UploadFile" multiple />
    <input type="submit"/>

</form>

<img src="@Url.Action("GetDB","FileUpload",new {Id=1})" />
<hr />
<img src="@Url.Action("GetFile","FileUpload",new {fileName="allpokemon.jpg"})"/>


